{% extends 'djangoappone/layout.html' %}
{% load static %}

{% block title %} Posts {% endblock title %}

{% block content %}

<section>
    <h1>Posts</h1>
    
    {% for post in posts %}
        <article class="post">
            <h2>
                {% if user.is_authenticated %}
                    <a href="{% url 'post:posts_page' slug=post.slug %}">
                        {{ post.title }}
                    </a>
                {% else %}
                    {{ post.title }}
                {% endif %}
            </h2>
            <img class="banner" src="{{ post.banner.url }}" alt="{{ post.title }}">
            <p>{{ post.body }}</p>
            <p>{{ post.date }} by {{ post.author }}</p>
        </article>
    {% endfor %}
</section>

{% endblock content %}
